    <!-- Nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Temporary Ink</a>
            </div>
            <!-- Toggle Nav Links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Search</a>
                    </li>
                    <li>
                        <a href="#">Account</a>
                    </li>
                    <li>
                        <a href="#">Cart</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h2 class="white">Tattoo Script Designer</h2>
            </div>
        </div>
    </header>

    <!-- Content -->
    <div class="container">
        <p class="margin-t">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis explicabo voluptate tempore saepe obcaecati sit quasi, ducimus voluptatum inventore accusamus similique provident, excepturi voluptas nesciunt sed. Cumque, similique. Nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus at laudantium officiis. Dolor numquam omnis, doloribus tenetur, vero id quam. Repudiandae esse necessitatibus eos, possimus inventore in similique provident nihil.</p>

        <div class="row tattoo_script_content">
            <div class="script_preferences col-md-offset-1 col-md-7">
                <h4>Sizing and Color Options</h4>
                <div class="margin-t margin-b">
                    <%= form_tag({:controller => "landings", :action => 'update_font_size'}, :remote => true) do %>
                        <%= number_field_tag :font_size, params[:font_size], placeholder: "Enter Font Size" %>
                    <% end %>
                </div>
            </div>
            <div class="social-sharing col-md-3"><h4>Sharing Options</h4></div>
        </div>
        <div class="row">
            <div class="enter_script_content col-md-offset-1 col-md-7">
              <%= simple_form_for @tattoo, :url => {:controller => 'landings', :action => 'update_text'}, :html => { :class => '' }, remote: true  do |f| %>
                <%= f.input :script, label: false, placeholder: "Enter Your Words Here..." %>
              <% end %>
            </div>
            <div class="font_categories col-md-3">
              <h3>Font Categories</h3>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
        </div>
        <div class="row">
            <div class="cta col-md-offset-1 col-md-7">
              <%= button_to "Order This Tattoo Design", nil, class: "btn btn-success" %>
            </div>
        </div>
        <div class="row">
            <div class="font_examples col-md-offset-1 col-md-7">
              <h3>Font Examples from Selected Category</h3>
              <ul>
                <li class="live_text_samples">lorem ipsum</li>
                <li class="live_text_samples">lorem ipsum</li>
                <li class="live_text_samples">lorem ipsum</li>
                <li class="live_text_samples">lorem ipsum</li>
                <li class="live_text_samples">lorem ipsum</li>
              </ul>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Temporary Ink 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->